<div class="card">
    <h2 class="fontPrimary">
        About Us:
    </h2>
</div>
<div class="text-with-pic text-center">
    <div class="card">
        <ul class="list--">
            <li class="fontSecondary">
                <span class="title-in-text">TILET</span> is an online market place for Ethiopian fashion designers.
                Each
                designer is entitled to their
                own shop
                where
                they display their products for customers to browse through.
            </li>
            <br>

            <li class="fontSecondary">
                <span class="title-in-text">TILET</span> provides a one stop shop for Ethiopian fashion providing
                the
                chance
                for
                designers to get an easy
                accessiblity to customers and vice versa.  It is a soution to the rather scattered physical designer
                shops
                and
                also gives an
                opportunity of having a point of sale for designers who do not own physical shops.
            </li>
        </ul>
    </div>
    <div class="card image-card-wrapper">
        <img id="about-image" src="/pictures/about.jpg">
    </div>
</div>


<div class="card">
    <h2 class="fontPrimary">
        Contact Us:
    </h2>
</div>
<div class="card">
    <p class="fontSecondary">
        Contact us on:
    </p>
    <br>
    <div class="user-contact bottom-margin-20">

        <div class="contact-item">
            <a href="mailto: tilet@gmail.com">
                <span class="icon-wrapper">
                    <i class="fa fa-envelope" id="emailIcon"></i>
                </span>
            </a>
            <span class="email">tilet@gmail.com</span>
        </div>

    </div>
</div>