<div class="details">


    <div class="margin-left-fix-30">
        <form method="POST">
            <span>
                <h4>Delete the following design?</h4>
                <div class="action-buttons">
                    <button class="confirm-button">Delete</button>
                    <a class="cancel-button" href='<%=`/users/${userId}/${product.iddesign}`%>'>Cancel</a>
                </div>
            </span>
        </form>
    </div>

</div>

<%- include('./partials/design_view.ejs'); %>
<!--End Cover Image-->