<div class="main-window">
    <div class="page-center-wrapper">
        <h2 class="error-title"><%= title %></h2>
        <h4 class="error-subtitle"><%= subtitle %></h4>
        <p class="error-message"><%= message %></p>

    </div>
</div>